/* Общие стили */

*,
:before,
:after {
  box-sizing: border-box;
}

/* Шрифты */
body {
  color: #121113;
  background-color: #fcfff7;
  font-family: "Montserrat", sans-serif;
}

/* Безымянные стили */
.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline {
  overflow: hidden;
}

.list-inline li {
  float: left;
}

/* Стили для headernav */
.headernav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15em;
  background: #fff;
  align-items: center;
  margin-top: 100px;
}

/* Стили для основной навигации */
.main-nav ul {

}

.main-nav li {
  display: flex;
  align-items: center;
  width: 250px;
  height: 70px;
  padding-left: 25px;
}


.main-nav a {
  padding: 1.1em 0;
  color: #000000;
  font: 1.5em 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: left;
  transition: transform 0.5s ease;
  text-decoration: none;
}

.main-nav a:hover {
  transform: scale(1.1);
  color: #CC2936;
}

/* Дополнительные стили для hover slide effect */
.list-hover-slide li {
  position: relative;
  overflow: hidden;
}

.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.35s ease color;
}

.list-hover-slide a.is-current,
.list-hover-slide a:hover:before {
  left: 0;
}


.main-zone {
  background: #F5F5F5;
  border-radius: 15px;
  margin-left: 16em;
  height: calc(100vh - 100px);
  overflow: auto;
  padding: 40px 40px;

}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.buttons-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  border-radius: 10px;
  padding: 6px;
  font-size: 17px;
  width: 35%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

/*Див фоток*/
div.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  background: #D9D9D9;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*Див альбомов*/
button.create-album {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  height: 150px;
  background: #D9D9D9;
  margin-bottom: 10px;
  font-size: 1.5em;
}

/* Стили для блока ваших альбомов */
.your-albums {
  clear: both; /* Очищаем обтекание для следующего блока */
  margin-top: 20px;
}

/* Стили для блока общих альбомов */
.shared-albums {
  clear: both; /* Очищаем обтекание */
  margin-top: 20px;
}

/* Стили для отдельного альбома */
.album,
.album:hover {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  height: 150px;
  background: #D9D9D9;
  display: flex; /* Используем flexbox для контейнера */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  text-decoration: none;
  color: #121113;
}

/*добавление фоток в альбом(чекбокс фоток)*/
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}

/*райт клик меню по фотке*/
.context-sub-menu,
.context-menu {
  position: fixed;
  background: #fff;
  z-index: 9999999;
  width: 120px;
  margin: 0;
  padding: 5px 0;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  font-size: 12px;
}

.context-menu .context-menu-item {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #f2f2f2;
}

.context-menu .context-menu-item span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.context-menu-item:last-of-type {
  border-bottom: none;
}

.context-menu .context-menu-item:hover {
  background: #f2f2f2;
}

.context-menu .context-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  width: 100px;
}

.context-menu .context-menu-item:hover > .context-sub-menu {
  display: block;
}

.context-menu.left .context-sub-menu {
  left: 0;
  transform: translateX(-100%);
}

.context-menu.top .context-sub-menu {
  top: 100%;
  transform: translateY(-100%);
}

.context-menu.left.top .context-sub-menu {
  transform: translate(-100%, -100%);
}

.album_title {
  font-size: 3.5em;
  color: #121113;
}
.album_name {
  margin: 0;
  font-size: 2.5em;
  text-align: center;
  text-color: #121113;
}

.zero_gallery{
  display: flex; /* Используем flexbox для контейнера */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
}

.zero_text {
  font-size: 3.5em;
}

.zero_img {
  width: 256px; /* Устанавливаем ширину изображения */
  height: 256px;
}

.download_button {
  padding: 7px 7px 6px;
  border: 0;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.download_button:hover {
  color: #CC2936;
}

.logout_button {
  color: #121113;
  text-decoration: none;
}

.logout_button:hover {
  color: #CC2936;
}

.bi-6x {
  font-size: 3.5em;
}

.upload_button {
  width: 203px;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
  border: none;
  background: white;
  border-radius: 7px;
  -webkit-box-shadow: 2px 3px 7px 4px rgba(34, 60, 80, 0.33);
  -moz-box-shadow: 2px 3px 7px 4px rgba(34, 60, 80, 0.33);
  box-shadow: 2px 3px 7px 4px rgba(34, 60, 80, 0.33);
}

.add_files_button {
  width: 230px;
  height: 50px;
  font-size: 1em;
  text-align: center;
  background: white;
  border-radius: 7px;
}

.card {
  display: inline-block;
}

/* HomePage */
@font-face {
  font-family: "Montserrat Alternates Black";
  src: url("../fonts/MontserratAlternates-Black.ttf") format("truetype"), url("../fonts/montserratalternates-black-webfont.woff2") format("woff2"), url("../fonts/montserratalternates-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Regular", sans-serif;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Black", sans-serif;
  src: url("../fonts/Montserrat-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

/* Logo styles */
.logo {
  font-family: "Montserrat Alternates Black", sans-serif;
  font-weight: 900;
  float: left;
  display: block;
  color: #cc2936;
  text-align: center;
  padding: 25px 30px;
  cursor: default;
}
.logo a {
  cursor: default;
  font-weight: 900;
  font-style: normal;
  display: block;
  color: #cc2936;
  font-size: 48px;
  text-decoration: none;
  transition: 0.15s linear color;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .button-group .enter {
  letter-spacing: 1px;
  border: none;
  background-color: #cc2936;
  color: #fcfff7;
  width: 120px;
  height: 54px;
  border-radius: 24px;
  font-size: 16px;
  font-family: "Montserrat Alternates Black", sans-serif;
  cursor: pointer;
  margin-right: 20px;
}
.header .button-group .enter:focus {
  border: none;
  outline: none;
}
.header .button-group .registration {
  margin-right: 50px;
  letter-spacing: 1px;
  border: none;
  background-color: #6c6f7d;
  color: #fcfff7;
  width: 180px;
  height: 54px;
  border-radius: 24px;
  font-size: 16px;
  font-family: "Montserrat Alternates Black", sans-serif;
  cursor: pointer;
}
.header .button-group .registration:focus {
  border: none;
  outline: none;
}

.modal {
  display: none;
  z-index: 1000;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 512px;
  max-width: 100%;
  height: 680px;
  max-height: 100%;
  background-color: #fcfff7;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}
.modal .modal-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal .modal-content .close-button {
  margin-top: 12px;
  margin-left: 92%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.modal .modal-content .close-button:focus {
  border: none;
  outline: none;
}
.modal .modal-content .welcome {
  font-family: "Montserrat Black", "Montserrat Black", sans-serif;
  font-weight: bold;
  margin-top: 36px;
  font-size: 24px;
  text-align: center;
}
.modal .modal-content .logo-h2 {
  font-family: "Montserrat Alternates Black", sans-serif;
  color: #cc2936;
  text-align: center;
  font-size: 24px;
}
.modal .modal-content .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}
.modal .modal-content .inputs input[type=email] {
  background-color: transparent;
  letter-spacing: 1px;
  width: 288px;
  height: 46px;
  border: #6c6f7d 3px solid;
  border-radius: 15px;
  padding-left: 10px;
}
.modal .modal-content .inputs input[type=email]::placeholder {
  background-color: transparent;
  color: #6c6f7d;
  font-family: "Montserrat", sans-serif;
}
.modal .modal-content .inputs .password {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 288px;
  height: 46px;
  border: #6c6f7d 3px solid;
  border-radius: 15px;
}
.modal .modal-content .inputs .password .opened {
  cursor: pointer;
}
.modal .modal-content .inputs .password .hidden {
  background-color: #fcfff7;
  position: absolute;
  z-index: 10001;
  transform: translate(-24px, 2px);
  width: 24px;
}
.modal .modal-content .inputs .password .hidden:hover {
  cursor: pointer;
}
.modal .modal-content .inputs .password-input {
  padding: 0;
  border: none;
  background-color: transparent;
}
.modal .modal-content .inputs .password-input:focus {
  outline: none;
}
.modal .modal-content .forgot-password {
  color: #121113;
}
.modal .modal-content .forgot-password:hover {
  text-decoration: underline #121113;
  cursor: pointer;
}
.modal .modal-content .enter {
  margin-top: 33px;
  background-color: #cc2936;
  border: none;
  border-radius: 15px;
  width: 288px;
  height: 46px;
  color: #fcfff7;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
.modal .modal-content .enter:hover {
  cursor: pointer;
}
.modal .modal-content .agreements {
  width: 421px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.modal .modal-content .agreements:hover {
  cursor: default;
}
.modal .modal-content .line {
  height: 1px;
  width: 84px;
  border-top: 1px solid #6c6f7d;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.modal .modal-content .not-registered {
  margin-top: 18px;
  font-size: 12px;
}
.modal .modal-content .not-registered a {
  color: #121113;
}
.modal .modal-content .not-registered a:hover {
  text-decoration: underline #121113;
  cursor: pointer;
}

.background-dark {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.grid-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: end;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.grid-container .grid-element {
  animation: 2s show ease-out;
  position: relative;
  width: 180px;
}
.grid-container .grid-element:nth-child(2) {
  margin-top: 32px;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center-text {
  font-size: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  margin-top: 100px;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: rgb(252, 255, 247);
  background: linear-gradient(180deg, rgba(252, 255, 247, 0) 0%, rgb(252, 255, 247) 100%);
}
