{% extends 'BaseGallery.html' %}

{% block title %}Add files{% endblock %}

{% block content %}
  <h1>Добавить файлы в альбом</h1>
  <h2>Photos:</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
      {% for file in photos %}
        <li>
          {% if file.file.name|lower|slice:"-4:" == '.dng' or file.file.name|lower|slice:"-4:" == '.raw' %}
            <input type="checkbox" name="selected_photos"  id="myCheckbox{{ file.id }}" value="{{ file.id }}">
            <label for="myCheckbox{{ file.id }}">
              <img src="{% url 'show_image' file.id %}" alt="{{ file.title }}" width="250" height="380">
            </label>
          {% else %}
            <input type="checkbox" name="selected_photos"  id="myCheckbox{{ file.id }}" value="{{ file.id }}">
            <label for="myCheckbox{{ file.id }}">
              <img src="{{ file.file.url }}" alt="{{ file.title }}" width="250" height="380">
            </label>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>Videos:</h2>
    <ul>
      {% for file in videos %}
        <li>
          <input type="checkbox" name="selected_videos"  id="myCheckboxVideo{{ file.id }}" value="{{ file.id }}">
          <label for="myCheckboxVideo{{ file.id }}">
            <!-- Показываем превью видео (может потребоваться подходящий код для вашего проекта) -->
            <video width="250" height="380" controls>
              <source src="{{ file.file.url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </label>
        </li>
      {% endfor %}
    </ul>

    <input type="submit" class="add_files_button" value="Add Selected Files to Album">
  </form>
{% endblock %}