{% extends 'BaseGallery.html' %}
{% load static %}

{% block title %}Gallery{% endblock %}

{% block content %}
    {% csrf_token %}
    {% if photos %}
        {% for file in photos %}
            <div class="card" style="width: 18rem;" data-photo-id="{{ file.id }}">
                <a target="_blank" href="changeimage/?photo={{file.file.url}}&id={{file.id}}">
                    {% comment %} {% if file.file.name|lower|slice:"-4:" == '.dng' %} {% endcomment %}
                        <img src="{% url 'show_image' file.id %}" class="card-img-top" alt="{{ file.title }}">
                    {% comment %} {% else %}
                        <img src="{{file.file.url}}" class="card-img-top" alt="photo">
                    {% endif %} {% endcomment %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ file.title }}
                        {% if file.location %}
                            <a class="location_button" href="http://maps.google.com/?q={{ file.location }}"><i class="bi bi-geo-alt"></i></a>
                        {% endif %}
                        {% if file.face_detected %}
                            <a class="location_button" href="?search=Совпадения:{{ file.file.url }}"><i class="bi bi-file-person"></i></a>
                        {% endif %}
                    </h5>
                    <p class="card-text">Загружено {{file.created_at|date:"d.m.Y в H:i"}}</p>
                    {% if file.tags.all %}
                        <p>Теги:
                            {% for tag in file.tags.all %}
                                {{ tag.name }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="zero_gallery">
            <div>
                <h2 class="zero_text">Ваше хранилище пусто<i class="bi bi-emoji-frown"></i></h2>
            </div>
            <div>
                <img class="zero_img" src="{% static 'img/box.png'%}">
            </div>
        </div>
    {% endif %}
{% endblock %}
