{% extends 'base.html' %} {% block content %}
<button
  class="btn btn-primary"
  data-target="#RegisterModal"
  data-toggle="modal"
  type="button"
>
  Регистрация
</button>

<form method="post" name="register_form">
  {% csrf_token %}
  <div
    aria-hidden="true"
    aria-labelledby="RegisterModalLabel"
    class="modal fade"
    id="RegisterModal"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="RegisterModalLabel">Registration</h5>
          <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">{{ registration_form.as_p }}</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">
            Close
          </button>
          <button class="btn btn-primary" name="register_form" type="submit">
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<button
  class="btn btn-primary"
  data-target="#LoginModal"
  data-toggle="modal"
  type="button"
>
  Авторизация
</button>
<form method="post" name="login_form">
  {% csrf_token %}
  <div
    aria-hidden="true"
    aria-labelledby="LoginModalLabel"
    class="modal fade"
    id="LoginModal"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModalLabel">Auth</h5>
          <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">{{ login_form.as_p }}</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">
            Close
          </button>
          <button class="btn btn-primary" name="login_form" type="submit">
            Sign in
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  {%
      if show_registration_form %
  }
  // Открываем модальное окно для формы регистрации
  $(document).ready(function () {
      $('#RegisterModal').modal('show');
  });
  {%
      endif %
  }

  {%
      if show_login_form %
  }
  // Открываем модальное окно для формы входа
  $(document).ready(function () {
      $('#LoginModal').modal('show');
  });
  {%
      endif %
  }

  $(document).ready(function () {
      // Очищаем все поля формы при закрытии модального окна
      $('.modal').on('hidden.bs.modal', function () {
          $(this).find('form')[0].reset();
      });
  });
</script>
{% endblock %}
